body {
  font-family: "Open Sans";
}

h1,
h2 {
  font-family: "Proza Libre";
}

header {
  display: flex;
  align-items: center;
  background-color: #8bbbd9;
  color: #274b59;
  width: 100%;
  justify-content: center;
  flex-flow: column;
}

header section {
  display: flex;
  flex-flow: column;
}

header img {
  width: 100%;
}

header section h1 {
  font-size: 2rem;
  margin: 0;
}

header section div {
  align-self: center;
  font-size: 1rem;
  margin: 0;
}

.back a {
  color: #8bbbd9;
}

nav {
  background: #8bbbd9;
}

nav button {
  padding: 10px;
  margin: 0 5px;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #011c26;
  border-top: 1px solid rgba(2, 64, 89, 0.4);
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s;
  font-weight: bold;
}

nav ul li.active a {
  background-color: rgba(2, 64, 89, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(2, 64, 89, 0.4);
  color: #fff;
}

nav ul.hide {
  display: none;
}

main,
footer {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  max-width: 766px;
}

main h2 {
  text-align: center;
  width: 100%;
  margin: 0;
}

main div {
  display: block;
  border: 1px solid black;
  background-color: whitesmoke;
  margin: 5px;
  padding: 5px;
  align-content: flex-start;
}

footer {
  background-color: #8bbbd9;
  font-family: "Open Sans";
  color: #274b59;
  text-align: center;
}

.logo {
  width: 80px;
  height: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
