body {
  font-family: "Open Sans";
}

h1,
h2 {
  font-family: "Proza Libre";
}

header {
  display: flex;
  align-items: center;
  background-color: #8bbbd9;
  color: #274b59;
  width: 100%;
  justify-content: center;
  flex-flow: column;
}

header section {
  display: flex;
  flex-flow: column;
}

header img {
  width: 100%;
}

header section h1 {
  font-size: 2rem;
  margin: 0;
}

header section div {
  align-self: center;
  font-size: 1rem;
  margin: 0;
}

.back a {
  color: #8bbbd9;
}

nav {
  width: 100%;
  background-color: #a9ffcb;
}

.navigate {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 2em;
}

.navigate li {
  display: none;
  list-style: none;
}

.navigate li:first-child {
  display: block;
}

.responsive li {
  display: block;
}

.navigate a {
  display: block;
  color: #004f2d;
  text-decoration: none;
}

.navigate a:hover {
  background-color: #004f2d;
  color: #a9ffcb;
}

main,
footer {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  max-width: 766px;
}

main h2 {
  text-align: center;
  width: 100%;
  margin: 0;
}

main div {
  display: block;
  border: 1px solid black;
  background-color: whitesmoke;
  margin: 5px;
  padding: 5px;
  align-content: flex-start;
}

footer {
  background-color: #8bbbd9;
  font-family: "Open Sans";
  color: #274b59;
  text-align: center;
}

.logo {
  width: 80px;
  height: auto;
}
