@media only screen and (min-width: 22em) {
  .navigate {
    display: flex;
    flex-flow: row;
    flex: 1 1 100%;
    margin: auto;
  }

  .navigate li {
    display: block;
    flex: 1 1 100%;
    justify-content: center;
    padding: 10px 0;
  }

  header {
    flex-flow: row;
  }

  .contact .map {
    display: flex;
    margin: 1rem;
    width: 50%;
    max-width: 750px;
  }

  .divgallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .maingallery {
    max-width: 800px;
  }
}
