@media only screen and (min-width: 580px) {
  .navigate {
    display: flex;
    flex-flow: row;
    margin: auto;
  }

  .navigate li:first-child {
    display: none;
  }

  .navigate li {
    display: block;
    flex: 1 1 100%;
    justify-content: center;
  }
}
